astroid==3.0.1
click==8.1.7
colorama==0.4.6
dill==0.3.7
isort==5.12.0
mccabe==0.7.0
platformdirs==3.11.0
prettytable==3.9.0
pylint==3.0.2
tomli==2.0.1
tomlkit==0.12.1
typer==0.9.0
typing_extensions==4.8.0
wcwidth==0.2.8
